* {
    margin: 0;
    padding: 0;
}

header {
    width: 95%;
    max-width: 900px;
    margin: 3% auto;
    position: relative;
}

.logoapple {
    width: 80px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.fondohead {
    width: 100%;
}

main {
    width: 85%;
    max-width: 700px;
    margin: 3% auto;
    padding: 3% 5%;
    background-color: aliceblue;
}

main p {
    margin: 10px;
}